@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    max-width: 1920px ;
}

@font-face {
    font-family: 'georgia';
    src: url('./fonts/georgia.ttf') format('truetype');
}

.font-your-font {
    font-family: 'georgia', sans-serif;
}
.bbb {
    background-image: url("./assets/1600x1200-ballo2.jpg");
    background-size: 1920px;
    background-attachment: fixed;
}
.btt:hover {
    background: rgba(76, 175, 80, 0);
    color: white;
}
.bt:hover .btt {
    opacity: 100%;
}
.bt:hover .p1 {
    color: #01c001;
}
.bt:hover img {
    opacity: 100%;
}
.btt {

    color: black;
    background: white;
}





