@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    max-width: 1920px ;
}

@font-face {
    font-family: 'georgia';
    src: url('./fonts/georgia.ttf') format('truetype');
}

.font-your-font {
    font-family: 'georgia', sans-serif;
}
.bbb {
    background-image: url("./assets/1600x1200-ballo2.jpg");
}
